<mat-form-field>
  <mat-label>
    Password
  </mat-label>
  <input matInput
         (change)="emitPasswordChange()"
         [formControl]="passwordFormControl"
         placeholder="Enter your password"
         [(ngModel)]="password"
         [type]="hidePassword ? 'password' : 'text'">
  <mat-error *ngIf="passwordFormControl.hasError('required')">
    Password is <strong>required</strong>
  </mat-error>
  <div class="hide-password-btn" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
    <mat-icon class="hide-password-icon">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
  </div>
</mat-form-field>
