<div class="basic-info-container">
  <div class="photo">
    <div [ngStyle]="{'background-image': 'url(' + userPhoto + ')'}" class="photo-img" *ngIf="!profileService.getPhotoState()"></div>
    <div class="photo-img" [ngfBackground]="profileService.getCurrentUserPhoto()" *ngIf="profileService.getPhotoState()"></div>
  </div>
  <div class="name">
    <div class="greeting">Welcome, {{user.firstName}} {{user.lastName}}
    </div>
    <button ngfSelect
            [(file)]="userPhoto"
            mat-button
            (fileChange)="uploadPhoto(userPhoto)"
            color="primary"
            class="change-photo"
            accept="image/*">
      Change profile picture
      <mat-icon>photo_camera</mat-icon>
    </button>
  </div>
</div>
