.basic-info-container {
  display: flex;
  align-items: center;

  .photo {
    .photo-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .name {
    margin-left: 20px;

    .greeting {
      font-weight: 500;
      font-size: 22px;
    }

    .change-photo {
      font-size: 16px;
      padding-left: 0;
    }
  }
}
