.login-form {
  position: relative;
  height: 100vh;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    background: #fff;
    padding: 30px;
    width: 420px;
    display: flex;
    flex-direction: column;
  }

  .submit-btn {
    margin-top: 15px;
    padding: 10px 0;
    color: #fff;
    border: none;
    background: #0e51ff;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background: #2c75ff;
    }
  }
}
