<form class="login-form" (submit)="tryLogin(email, password)">
  <div class="login-form-container">
    <wkui-email-field [(email)]="email" [label]="'Email'"></wkui-email-field>
    <wkui-password-field [(password)]="password"></wkui-password-field>
    <input type="submit" class="submit-btn" value="Log in">
  </div>
</form>
