<mat-form-field>
  <mat-label>
    {{label}}
  </mat-label>
  <input matInput
         (change)="emitEmailChange()"
         placeholder="e.g. your.name@company.com"
         [formControl]="emailFormControl"
         [(ngModel)]="email">
  <mat-error
    *ngIf="emailFormControl.hasError('email')
      && !emailFormControl.hasError('required')">
    Please enter a valid email address
  </mat-error>
  <mat-error *ngIf="emailFormControl.hasError('required')">
    Email is <strong>required</strong>
  </mat-error>
</mat-form-field>

