<div class="header-container">
  <div class="header-logo">
    <img src="../assets/images/site-logo.jpg">
    <div class="header-logo__name">
      My personal profile
    </div>
  </div>
  <div class="header-controls">
    <div class="notifications">
      <button mat-button [matMenuTriggerFor]="notificationsMenu">
        <mat-icon>notifications_none</mat-icon>
        Notifications
      </button>
      <button mat-icon-button [matMenuTriggerFor]="actions">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div class="short-person-info">
      <div class="name">
        {{user.firstName}} {{user.lastName}}
      </div>
      <div class="title">
        {{user.title}}
      </div>
    </div>
    <div class="person-photo">
      <button mat-button [matMenuTriggerFor]="profileOptions">
        <div [ngStyle]="{'background-image': 'url(' + userPhoto + ')'}" class="user-photo" *ngIf="!profileService.getPhotoState()"></div>
        <div class="user-photo" [ngfBackground]="profileService.getCurrentUserPhoto()" *ngIf="profileService.getPhotoState()"></div>
      </button>
    </div>
  </div>
</div>

<mat-menu #notificationsMenu xPosition="before">
  <button mat-menu-item>Notification 1</button>
  <button mat-menu-item>Notification 2</button>
  <button mat-menu-item>Notification 3</button>
</mat-menu>
<mat-menu #actions xPosition="before">
  <button mat-menu-item>Action 1</button>
  <button mat-menu-item>Action 2</button>
  <button mat-menu-item>Action 3</button>
</mat-menu>
<mat-menu #profileOptions xPosition="before">
  <button mat-menu-item>Some action</button>
  <button mat-menu-item>Some action 2</button>
  <button mat-menu-item (click)="logOut()">Logout</button>
</mat-menu>
