.header-container {
  width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #c5c5c5;

  .header-logo {
    display: flex;
    align-items: center;

    &__name {
      font-weight: 500;
      margin-left: 10px;
    }
  }

  .header-controls {
    display: flex;
    align-items: center;

    .short-person-info {
      text-align: right;
    }
  }

  .person-photo {
    margin-left: 10px;
    .user-photo {
      border-radius: 50%;
      height: 40px;
      width: 40px;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
