<mat-tab-group>
  <mat-tab label="Personal details">
    <div class="personal-details-container" *ngIf="!isEditingMode">
      <div class="tabs-item edit-item">
        <div class="item-container">
          <span class="item__description">
            Your personal Details
          </span>
          <div class="item__info light">This is your personal information, and is used across all Wolters Kluwer
            products.
          </div>
        </div>
        <button mat-button class="edit-button" (click)="turnEditingMode()">
          Edit details
          <i class="material-icons">
            edit
          </i>
        </button>
      </div>
      <div class="tabs-item">
        <span class="item__description">
          First name
        </span>
        <div class="item__info">
          {{user.firstName}}
        </div>
      </div>
      <div class="tabs-item">
        <span class="item__description">
          Last Name
        </span>
        <div class="item__info">
          {{user.lastName}}
        </div>
      </div>
      <div class="tabs-item">
        <span class="item__description">
          Email
        </span>
        <div class="item__info">
          {{user.email}}
        </div>
      </div>
      <div class="tabs-item">
        <span class="item__description">
          Phone Number
        </span>
        <div class="item__info">
          {{user.phone}}
        </div>
      </div>
    </div>


    <div class="personal-details-container" *ngIf="isEditingMode">
      <form class="edit-form">
        <wkui-email-field [(email)]="editedUser.email" [label]="'Email'"></wkui-email-field>
        <wkui-input-field [(model)]="editedUser.firstName" [label]="'First name'"></wkui-input-field>
        <wkui-input-field [(model)]="editedUser.lastName" [label]="'Last name'"></wkui-input-field>
        <wkui-input-field [(model)]="editedUser.phone" [label]="'Phone Number'"></wkui-input-field>

        <div class="buttons-container">
          <button mat-raised-button class="submit-button" color="primary" (click)="editUser()">Submit</button>
          <button mat-button class="cancel-button" (click)="cancelEditing()">Cancel</button>
        </div>
      </form>
    </div>
  </mat-tab>

  <mat-tab label="Organisations & permissions">
    <div class="tabs-item">
      {{noInformationYet}}
    </div>
  </mat-tab>

  <mat-tab label="Login & Security settings">
    <div class="tabs-item">
      {{noInformationYet}}
    </div>
  </mat-tab>

  <mat-tab label="My products">
    <div class="tabs-item">
      {{noInformationYet}}
    </div>
  </mat-tab>

  <mat-tab label="Activity">
    <div class="tabs-item">
      {{noInformationYet}}
    </div>
  </mat-tab>
</mat-tab-group>
