wkui-profile-tabs {
  mat-tab-group {
    margin-top: 30px;

    .mat-tab-label {
      opacity: 1;
      color: #3f51b5;
    }

    .mat-ink-bar {
      background-color: #676767 !important;
    }

    .mat-tab-label-active {
      color: #676767;
      opacity: 1;
    }
  }

  .personal-details-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .tabs-item {
    margin-top: 20px;

    .item__description {
      font-weight: 600;
    }

    .item__info {
      margin-top: 10px;
    }
  }

  .edit-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .edit-button {
      color: #0e51ff;

      i {
        font-size: 18px;
      }
    }
  }

  .edit-form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 20px auto;

    .buttons-container {
      display: flex;
    }
  }
}

